<h1>Owners</h1>

<form  action="/owners" method="post">

<fieldset>
    <label for="owner_name">Enter Full Name:</label>
    <input
    type="text"
    name="name"
    id="owner_name"
    />
    <input type="submit" value="Register Owner">
    </fieldset>
</form>
<!-- <p><a href="/owners/new">Register New Owner</a> -->


  <% @owners.each do |owner| %>
  <p>Name: <%=owner.name%></p>
  <% owner.animal.each do |animal| %>
  <p>Animals: <%=animal.animal_name%></p>
    <%end%>

  <p><a href="/owners/<%=owner.id%>">More Information</a></p>
  <%end%>
