
<h1 id="owner-heading">List of Current Owners</h1>
<h3>Or Register a New Owner:</h3>

<form  action="/owners" method="post">
<div class="register">
    <label for="owner_name">Enter Full Name:</label>
    <input
    type="text"
    name="name"
    id="owner_name"
    />
    <input type="submit" value="Register Owner">
    </div>
</form>


  <% @owners.each do |owner| %>
<div class = "owners">
  <p>Name: <%=owner.name%></p>
  <% owner.animal.each do |animal| %>
  <p>Animals: <%=animal.animal_name%></p>
    <%end%>

  <p><a href="/owners/<%=owner.id%>">More Information</a></p>
  <%end%>
</div>
