<form  action="/owners" method="post">

<fieldset>
    <label for="owner_name">Enter Full Name:</label>
    <input
    type="text"
    name="name"
    id="owner_name"
    />
</fieldset>
    <input type="submit" value="Register Owner">
</form>
