<h1>Owners</h1>

<p>Name: <%=@owner.name.capitalize%></p>

<% @owner.animal.each do |animal| %>
<p>Animals: <%=animal.animal_name%></p>
  <%end%>

  <form method="post" action="/owners/<%= @owner.id %>/delete">
    <input type="submit" value="Delete Owner"/>
  </form>
