
<br>
<br>


<div class = "welcome-box">
  <h1>Welcome to Helter Shelter</h1>
  <br>
  <p>Helter Shelter is a no kill shelter run by the former disciples of Charles Manson.</p>
  <p>We are a non-discriminatory organization which accepts pets of all species and temperments.</p>
  <p>Our shelter is so lovely that some pets continue to live here even after they've been adopted!</p>
</div>

<br>
<br>

<div class="title"><h3>OUR SUCCESS STORIES</h3></div>

<fieldset>
  <div class="gallery">
      <img src="https://i.pinimg.com/originals/21/27/da/2127dabfde8a3996a673260fed15e05e.jpg" alt="golden retriever" width="600" height="400">
    <div class="desc">Bobby speaks 10 languages and brews an award-winning mead</div>
  </div>
  <div class="gallery">
      <img src="https://i.ytimg.com/vi/UEOEYYyXOJc/hqdefault.jpg" alt="dog" width="500" height="500">
    <div class="desc">Carl runs a flourishing underground boxing ring</div>
  </div>
  <div class="gallery">
      <img src="https://i.pinimg.com/originals/bd/89/30/bd8930ccf29a1bbd226b70314dcc6b22.jpg" alt="dog" width="500" height="500">
    <div class="desc">Benjamin was elected mayor of his local village</div>
  </div>
  <div class="gallery">
      <img src="https://i.pinimg.com/originals/c1/ac/a1/c1aca18c69132d745b6d8fc537f0d8f9.jpg" alt="two ducks" width="500" height="500">
    <div class="desc">Cornelius and Digby own a breadcrumb factory with 100 employees</div>
  </div>
  <div class="gallery">
      <img src="https://www.thoughtco.com/thmb/3WQYd00reMnA14jSkE9OOgYAHuI=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-sb10068782j-001-572915463df78ced1f0b90f6.jpg" alt="spider" width="500" height="500">
    <div class="desc">Terry the tarantuala became a successful web developer</div>
  </div>
  <div class="gallery">
      <img src="https://i.ytimg.com/vi/shluYa5WDUQ/maxresdefault.jpg" alt="cat" width="500" height="500">
    <div class="desc">Earl finally realized his dream of becoming a real cat</div>
  </div>
</fieldset>

<div class="contact-us">
    <label for="contact">Submit an Enquiry:</label>
      <div id="text-inquire"><input type="text" name="input" id="contact"></div>
      <input type="submit" value="Submit an Enquiry">
</div>
