<!DOCTYPE html>
<html>
<head>
  <title>Local Animal Shelter</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<nav>
  <p><a href="/animals">Animals</a></p>
  <p><a href="/owners">Owners</a></p>
  <p><a href="/">Home</a></p>
  </nav>
  <%= yield %>
</html>
