<!DOCTYPE html>
<html>
<head>
  <title>Local Animal Shelter</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
  <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/animals">Animals</a>
  <a href="/owners">Owners</a>
  <input type="text" placeholder="Search..">
</div>
  <%= yield %>
</html>
