<!DOCTYPE html>
<html>
<head>
  <title>Local Animal Shelter</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="styles/animalstyle.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<div class="header">
  <h1>Helter Shelter</h1>
</div>

<div class="nav">
  <a class="active" href="/">Home</a>
  <a href="/animals">Animals</a>
  <a href="/owners">Owners</a>
  <a href="/animals/new">Abandon</a>
</div>













  <%= yield %>
</html>
