body {
  background-image: url("https://adelaidevet.com.au/sites/default/files/styles/featured_teaser/public/images/news/2015-cat-xmas-lights.jpg?itok=8VkANq6e");
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.header {
  text-align: center;
  line-height: 1.5;
  word-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  color: blue;
  border: 2px solid black;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/05/16/30/2159b2936474f46.jpg");
  background-size: top;
  margin-bottom: 20px;
}

.nav {
  text-align: center;
  line-height: 1.5;
  word-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  color: black;
  border: 2px dotted black;
  margin-bottom: 20px;
}

.nav a{
  text-decoration:none;
}

 .image {
  border: 1px solid #ddd;
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  padding: 5px;
  width: 200px;
}

.show_image {
  border: 1px solid #ddd;
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  width: 200px;
}

.button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.mybutton a{
  text-decoration:none;
}

.adopt_box {
  display: inline;
  justify-content: center;
  font-size: 20px;
  position: relative;
}
