<form method="post" action="/animals/<%=@animal.id %>">
  <label for="name">Name:</label>
  <input
  type="text"
  name="name"
  id="name"
  value="<%= @animal.animal_name %>"/>
  <label for="name">Name:</label>
  <input
  type="text"
  name="name"
  id="name"
  value="<%= @animal.animal_name %>"/>


  <input type='submit' value="Adopt Animal">
</form>
