<form  action="/animals" method="post">

  <p>Existing Customers</p><select>
    <option value="dog">Dogs</option>
    <option value="fish">Fish</option>
    <option value="exotic">Exotic</option>
  </select>


<fieldset>
  <label for="first_name_field">Or Enter your full name:</label>
  <input type="text" name="name" id="first_name_field"/>



<input type="submit" value="Adopt Now!">
</fieldset>
</form>
