<form  action="/animals" method="post">

<div class="adopt_box">
    <label for="name">Animal Name:</label>
    <input
    type="text"
    name="animal_name"
    id="name"
    />

  <label for="species">Select type of animal:</label>
    <select name="type" id="species">
      <option value="Cat">Cat</option>
      <option value="Dog">Dog</option>
      <option value="Fish">Fish</option>
      <option value="Exotic">Exotic</option>
    </select>

  <label for="date">Today's Date:</label>
    <input type="text" name="admission_date" id="date"/>


  <label for="photo">Add a URL link for a photo:</label>
    <input type="text" name="image" id="photo"/>

<input type="hidden" name="available" id="available" value="yes">
    <input class="button" type="submit" value="Abandon Animal">
</form>
