<form  action="/animals" method="post">
<fieldset>
  <label for="first_name_field">Name:</label>
  <input type="text" name="first_name" id="first_name_field"/>

  <label for="age_field">Age:</label>
  <input type="text" name="age" id="age_field"/>
</fieldset>


</form>
